<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:fragment="header">
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<style>
#footer {
	height: auto;
	background-color: black;
	position: fixed;
	left: 0;
	width: 100%;
	color: white;
	text-align: left;
	vertical-align: middle;
	bottom: 0;
}
</style>
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto"
	rel="stylesheet">

<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">QR-Factory</title>
<!-- Material design start libs -->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.js"
	integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
	integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/css/mdb.min.css" />
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
	integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/js/mdb.min.js"></script>
<!-- Material design end libs -->

<link charset="utf-8" rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

<!-- Be aware HTML2canvas, for some reason is the library start -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"
	integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs"
	crossorigin="anonymous"></script>
<!-- Be aware HTML2canvas, for some reason is the library end -->

<!-- Alertify start libs -->
<!-- JavaScript -->
<script
	src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
<!-- CSS -->
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.min.css" />
<!-- Default theme -->
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/default.min.css" />
<!-- Semantic UI theme -->
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/semantic.min.css" />
<!-- Bootstrap theme -->
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/bootstrap.min.css" />
<!-- Alertify end libs -->

<style type="text/css">
body {
	font-family: 'Roboto', sans-serif;
	background-image: url("../img/bg_tile.gif");
	background-repeat: repeat;
}

a {
	color: white;
}

a:hover {
	color: pink;
}
</style>
<title>QR-Factory</title>
</head>

<body>
<div class="container">
<div class="container-fluid">
<div class="card">
	<h2 class="card-header text-white blue-gradient"><img src="../img/molokotechLogo.png" style="width:300px; height:auto"><strong style="text-shadow:1px 1px black;"> - QR-Factory</strong></h2>
	<div style="padding:50px;">
		<div class="form-group">
			<label>Cantidad de Códigos QR </label> <br>
			<input type="number" id="quantity" min="1" max="5"><br>
			<small><strong>Máximo por tirada 100 unidades, y 1000 totales en DB, por más cantidad comunicarse con <a style="color:#ff8000" href="mailto:info@molokotech.com">info@molkotech.com</a></strong></small>
		</div>

		<div class="form-group">
			<label>Root (ruta del servicio)</label><br>
			<input type="text" id="root"> <br>
			<small><strong>https://example.com/id/</strong></small>
		</div>
		<button class="btn btn-md blue-gradient" onclick="qrFactory()">Crear y persistir en DB</button>
	</div>
	<div>
	<ul id="ulResult"></ul>
	</div>
	<br>
		<br>
			<br>
				<br>
					<br>
	<script type="text/javascript">
	function qrFactory(){
		var quantity = document.getElementById("quantity").value;
		var root = document.getElementById("root").value;
		var url = "/qr-factory?quantity="+quantity+"&root="+root;
		var xhr = new XMLHttpRequest();
		var ulResult = document.getElementById("ulResult");
		
		
		if(quantity < 100){
			
				$.alert({
					type:"purple",
					title:"Atención",
					content:"Por favor espera almenos "+ quantity + " segundos, hasta que termine de ejecutarse el hilo o proceso"
				});
			
			xhr.onreadystatechange = function(){
				if(xhr.readyState == 4 && xhr.status == 200){
					var response = xhr.responseText;
					var data = JSON.parse(response);
					for(var i= 0; i < data.length; i++){
						var li = document.createElement("li");
						var node = document.createTextNode("shortId= "+data[i].shortId + ", Ruta elegida: "+root+data[i].shortId + ", Tamaño: 300 x 300 px");
						li.appendChild(node);
						ulResult.appendChild(li);
						var img = document.createElement("img");
						img.src="data:image/png;base64,"+data[i].strBase64;
						img.setAttribute("width", 100);
						img.setAttribute("height", 100);
						img.style.margin = "7px";
						li.appendChild(img);
						
// 						var base64 = data[i].strBase64;
						
// 						li.onclick = function(){
// 							$.alert({
// 								type:"blue",
// 								title:"Tamaño original:",
// 								content:"<html><body><img src='data:image/png;base64,'"+base64+"></body></html>"
// 							});
// 						}
					
					}
				}
			}	
			xhr.open("GET", url,true);
			xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");		
			xhr.send();
		}else{
			$.alert({
				type:"purple",
				title:"Atención",
				content:"No puede superar los 100 QR por insercción."
			});
		}
	}
	</script>
	<!-- /.container -->
</div>
	<footer th:fragment="footer" id="footer" class="text-white mt-4">
		<div class="container-fluid py-3" >
			<div class="row">
				<div id="footerBrand" class="col-md-7">
					Designed by <img alt="Molokotech" id="logo"
						src="/img/molokoalternativo.png" class="img-fluid"
						onclick="redirectTo()"> |   | Powered by <img src="../img/heroku-logo.png" id="herokuLogo" onclick="window.location.href='https://heroku.com'" class="img-fluid" style="height:28px"><span class="small">
						<strong style="color: #ff8000">Vet-Cloud</strong>® y <Strong
						style="color: #ff8000">Pet-QR</Strong>® <span>son marcas Registradas de</span> 
						<strong style="color: #ff8000">Molokotech Solutions</strong>.</span> <small>Otros productos <a style="color:lightpurple"href="https://pet-qr.com"><img src="../img/iconoPet32x32.png" style="width:16px; height:auto;"> Pet-QR.com</a> | <a href="https://return-home.com"><img src="../img/logoRH32x32.png" style="width:16px; height:auto;"> Return-Home.com</a></small>


				</div>
				<div class="col-md-1"></div>
				<div id="divAgeCreated"
					class="col-md-4 text-right small align-self-end">©2017 M.
					Reg.
					<!-- Social media Buttons start -->
					<a href="https://twitter.com/minimalmonkey"
						class="icon-button twitter"><i class="fab fa-twitter icon-twitter"></i> <span></span></a>
					<a href="https://www.facebook.com/Pet-QR-352297888698658/" class="icon-button facebook"><i class="fab fa-facebook-f icon-facebook"></i><span></span></a> <a
						href="https://plus.google.com" class="icon-button google-plus"><i class="fab fa-google-plus-g icon-google-plus"></i>  <span></span></a>
					<!-- Social media Buttons end -->
					</div>
			</div>
		</div>

	</footer>
	</div>
	</div>
</body>
</html>
