<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<header th:replace="default :: header"></header>
<script type="text/javascript" src="../js/download.js"></script>
<body>
	<div class="container">
		<div class="container-fluid">
			<div class="card">
				<h2 class="card-header text-white blue-gradient">
				<a style="float:right; font-size:small" href="/bulk-factory">Enterprise Bulk QR-Factory API</a>
					<img src="../img/molokotechLogo.png"
						style="width: 300px; height: auto"><strong
						style="text-shadow: 1px 1px black;"> - QR-Factory</strong>
				</h2>
				<div style="padding: 40px;">
					<h5 style="font-weight: bold">Crea un código QR con la URL o
						los datos que quieras y descargalo a tu pc o celular:</h5>
					<br>
					<div class="form-group">
						<label>URL / mensaje / Código</label><br> <input type="text"
							id="root"> <br> <small><strong>https://example.com/id/</strong></small>
					</div>
					<button id="button" class="btn btn-md blue-gradient" onclick="qrSimple()">Crear
						QR</button>
				</div>
				<div id="divResult" style="margin: 0 auto;">
				</div>
				<br> <br> <br> <br> <br>
				<script type="text/javascript">
	function qrSimple(){
		var root = document.getElementById("root").value;
		var url = "/qr-simple?&root="+root;
		var xhr = new XMLHttpRequest();
		var divResult = document.getElementById("divResult");
		
			xhr.onreadystatechange = function(){
				if(xhr.readyState == 4 && xhr.status == 200){
					var response = xhr.responseText;
					if(response != null || response != ""){
					var img = document.createElement("img");
					img.src ="data:image/png;base64," + response;
					divResult.style.border = "2px solid black";
					divResult.style.boxShadow = "0px 0px 25px black"
					divResult.appendChild(img);
					alertify.success("<strong>Código QR creado con éxito</strong>");
					divResult.onmouseover = function(){
						divResult.style.cursor = "pointer";
					}
						img.onclick = function(){
							download( "data:image/png;base64,"+response ,'Molokotech-QR-Factory_' + new Date() + '.png','image/png');
						}
					}else{
						alertify.error("<strong>Hubo un error en el servidor</strong>");
					}
				}
			}	
			xhr.open("GET", url,true);
			xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");		
			xhr.send();
	}
	</script>
				<!-- /.container -->
			</div>
		</div>
	</div>
	<footer th:fragment="footer" id="footer" class="text-white mt-4">

	</footer>
</body>
</html>
